:root {
    --bg-color: hsl(0, 0%, 100%);
    --alternate-bg-color: hsl(0, 0%, 97%);
    --font-color: hsl(0, 0%, 0%);
    --cursive-font: "BirdsOfParadise";
    --cursive-font-color: hsl(0, 0%, 100%);
    --color-transition: all 1s;
}

.dark-mode {
    --bg-color: hsl(0, 0%, 3%);
    --alternate-bg-color: hsl(0, 0%, 0%);
    --font-color: hsl(0, 0%, 100%);
    --cursive-font-color: hsl(0, 0, 100%);
    transition: var(--color-transition);
}

.white-mode {
    --bg-color: hsl(0, 0%, 100%);
    --alternate-bg-color: hsl(0, 0%, 97%);
    --font-color: hsl(0, 0%, 0%);
    --cursive-font-color: hsl(0, 0%, 100%);
    transition: var(--color-transition);
}


@font-face {
    font-family: "BirdsfOfParadise";
    src: url("fuentes/birds-of-paradise.ttf") format("truetype");
}

@font-face {
    font-family: "BirdsOfParadise";
    src: url("fuentes/birds-of-paradise.ttf") format("truetype");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

/* Utility */
.cursive {
    font-family: "BirdsfOfParadise";
}
.center-x {
    display: flex;
    justify-content: center;
}

/* Relevant CSS */
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 5rem 0 0 0;  
    overflow-x: hidden;
}

nav {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid var(--font-color);
}

#dark-mode-btn {
    font-size: 1.1rem;
}

#titulo-pagina {
    margin: 0;
    font-family: var(--cursive-font), Arial, sans-serif;
    font-size: 2.5rem;
    color: var(--font-color);
    z-index: 100;
    text-align: center;
}

/* inicio */
#inicio {
    padding: 0;
    background-color: var(--bg-color);
}

#inicio #fondo-galletas {
    position: absolute;
    top: 5%;
    z-index: -100;

    margin: 0;
    padding: 0;
    width: 100%;
}

.landing {
    background-position: center;
    background-size: 30% 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

    padding: 2rem;
}

#marco-container {
    background-image: url("./imagenes/marco.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 35%;
    padding: 1rem;
    z-index: 10;
}

#texto-inicio {
    margin: 0;
    padding: 2rem;
    border-radius: 10px;
    z-index: -10;

    font-family: var(--cursive-font), Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    background-color: hsl(0 0% 0% / 40%);
}

/* Descripción */
#descripcion {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem 2rem;
    background-color: var(--bg-color);
    position: relative;

    box-shadow: 0 0 2px hsl(0, 0%, 90%);
    z-index: 10;
    color: var(--font-color);
}

#descripcion .texto > p {
    font-size: 1.5rem;
    width: 45ch;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    line-height: 1.2;
    color: var(--font-color);
}


#descripcion ul {
    padding: 0 0 0 1rem;
}

li {
    font-size: 1.5rem;
    width: 45ch;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    line-height: 1.5;
}

#descripcion img {
    height: auto;
    width: 55%;
}

#carrusel {
    background-color: var(--alternate-bg-color)
}

#video {
    background-color: var(--bg-color);
    padding: 4rem 0;
}

.titulo2 {
    margin: 0 0 2rem 0;

    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 3rem;
    color: var(--font-color);
}

#pedidos {
    background-color: var(--alternate-bg-color);
    display: flex;
    justify-content: center;
}

#realizar-pedido {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--font-color);
}

/* Spans */
span.bold {
    font-weight: bold;
}

span.enfasis {
    color: yellow;
    font-size: 4rem;
}

span.titulo {
    font-size: 2.5rem;
    font-weight: bold;
}

span.texto {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/* Animaciones */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
}
.aparecer {
    transition: all 1.5s ease;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Carrusel con solo CSS */
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: .5rem;
}

.slider::-webkit-scrollbar {
    display: none;
}


.slider > img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    position: relative;
    bottom: 1.25rem;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav > a{
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.90;
    transition: opacity 250ms ease;
}

.slider.nav.a:hover {
    opacity: 1;
}

.enter-chatbot {
    z-index: 9999;
    position: fixed;
    left: 94%;
    top: 89%;
    background-color: var(--bg-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    height: 100px;
    width: 100px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
